<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= appName %> Error</title>
</head>
<body>
    <div>
        <h1> <%= appName %> Error <small>Status <%= status %></small></h1>
        <p><%= message %></p>
        <p>Environment: <%= env %></p>
    </div>
</body>
</html>